.main-header{
 background-color : red;
 padding: 1em;
 color: white;
 margin-bottom: 3em;
}

#title, #maintitle{

 font-weight : normal;
 color : white;
}

.back{
	
	margin-left: 1em;
}
#linkol{
	color : white;
}

table, th , td {
  border: 2px solid #c0c0c0;
  border-collapse: collapse;
  padding : 1em;
  
}

#eventdetail{
	padding : 1em;
margin-left : 1em;	
}

table{
	min-width : 70%;
margin-left : 15%;
}

body{
font-family : verdana,sans-serif;
margin: 0;
padding: 0;
}
