.main-header{
 background-color : red;
 padding: 1em;
 color: white;
 margin-bottom: 3em;
}

#title, #maintitle{

 font-weight : bold;
 color : white;
}

.back{
	margin-left: 1em;
}
#linkol{
	color : white;
}

table{
	margin-left : 10%;
	margin-right : 10%;
	border:none;
    border-collapse: collapse;
}

th , td {
  border-bottom: 1px solid #cccccc;
  padding : 1em;  
}

td.date, td.time{
	padding-right : 0;
	font-family: Courier, monospace;
	font-weight: bold;
	color : #707070;
}

#eventdetail{
	padding : 1em;
margin-left : 1em;	
}


body{
font-family : verdana,sans-serif;
margin: 0;
padding: 0;
}

